body {
    background-color: #E0E0E0;
    margin: 0;
    padding: 0;
    justify-items: center;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: gray;
}


.upperNavBar {
    background-color: white;
    width: 100%;
    height: 5%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    border-style: none;
    
}
.btnUpperNav {
    align-content: center;
    font-style: normal;
    text-decoration: none;
    border-style: none;

    

}
.btnUpperNav:hover {
    transform: scale(1.5);
    transition: transform .3s;

}

.upperBody {
    background-color: #E0E0E0;
    width: 70%;
    margin-top: 58px;
    height: 40%;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#upperText1 {
    margin-top: 200px;
    margin-right: 25%;
    margin-left: 25%;
}
#upperText2 {
    margin-right: 25%;
    margin-left: 25%;
}

.upperBtn {
    margin-right: 25%;
    margin-left: 25%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    border-style: none;
    margin-top: 5px;
}

#btnPortf, #btnCurriculo {
    border-radius: 20px;
    width: 100px;
    text-align: center;
    position: relative;
    a {
        color: white;
    }
}
#btnPortf a, #btnCurriculo a{
    color: white;
    text-decoration: none;
}

#btnPortf a::after, #btnCurriculo a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0%; /* Inicialmente invisível */
    background-color: white;
    transition: width 0.2s;
}

#btnPortf a:hover::after, #btnCurriculo a:hover::after {
    width: 100%;
}


.lowerNavBar {
    height: 2%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.341);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    border-style: none;


}

.lowerBody {
    box-shadow: 10px 10px 10px rgb(195, 195, 195);
    height: 50%;
    width: 70%;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows:50% 50%;

    p {
        font-size: 25px;

    }
    
}

#frontSection, #backSection {
    display: grid;
    grid-template-columns: 50% 50%;

    div {
        text-align: center;
    }


    h2, p {
        font-family: "Inter";
    }
}

div {
    border-style: none;
    border-width: 0px;
}

#frontSection {
    margin-top: 5px;

}

.boxIcons {
    width: 50%;
    display: flex;
    justify-content: space-around;
}